{# templates/back/page/index.html.twig #}
{% extends 'Back/layout.html.twig' %}
{# {% extends 'base.html.twig' %} #}
	{% block title %}
le titre
{% endblock %}

	{% block body %}
		<p>test
</p>
{% endblock %}
	{% block content %}<p>
	Page d'accueil back
</p>{% endblock %}
